<?xml version="1.0" encoding="utf-8"?>
<License>

    <PrefixUsers>
        
        <Prefix>MOBECO</Prefix>
        <Prefix>ABC</Prefix>
    </PrefixUsers>

    <ExactUsers>
        <User>ARLHY_ADMIN</User>
        <User>KEVIN_TEST</User>
        <User>CSRT_ArlhyHM</User>
    </ExactUsers>

</License>
